@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Grade Evaluator</h1>
        <p class="lead">Where grading through hundreds of exam was a worry of the past!</p>
    </section>
</main>